/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*Сброс стилей*/
*  {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    }
@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans/OpenSans-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}
body{
    font-family: OpenSans, sans-serif;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}
    .posi{
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 240px 2fr;
        grid-template-columns: 240px 2fr;
    }
    aside{
        background-color: #1F2339;
    }
    a{
        text-decoration: none;
        color: #fff;
    }
    a:focus{
        color: #43E8FF;
    }
    a:hover{
        color: #43E8FF;
    }
        .aside-block{
            margin: 30px 45px 0px 20px;
            width: 240px;
        }
            .aside-main{
                padding-bottom: 75px;
            }
    .flex-elem{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .flex-elem2{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .aside-element{
        padding-bottom: 25px;
        width: 150px;
    }
section{
    background-color: #4D5474;;
} 
    .container-second-block{
        margin-left: 40px;
        margin-right: 80px;
    }
        .header {
            margin: 55px 40px 0px 0px;
        }
            .header-left h1{
                font-weight: 400;
                font-size: 20px;
                line-height: 27px;
                padding-bottom: 50px;
                margin: 0;
            }
            .image-svg{
                padding-right: 10px;
            }

        .grid-element {
            display: -ms-grid;
            display: grid;
            grid-template-columns: repeat( auto-fit, minmax(340px, 1fr) );
            gap: 30px;
        }
            .grid-item {
                background-color: #383E57;
                border-radius: 8px;
                margin-bottom: 30px;
            }
                .item-title{
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 26px;
                    margin-left: 20px;
                    margin-top: 20px;
                }
        .image1{
            margin: 2px 24px 20px 130px;
        }
        .image2{
            margin: -20px 40px 20px 25px;
        }
        .item-image1, .item-image2{
            width: 100%;
        }

        .item-text{
            margin-left: 20px;
            padding-top: 7px;
        }
        .weather-block{
            margin-bottom: 2px;
        }
        .weather-date {
            margin: 53px 40px 0px 20px;
        }

        .degrees{
            font-weight: 300;
            font-size: 80px;
            line-height: 109px;
        }
        .centigrade{
            font-weight: 300;
            font-size: 36px;
            line-height: 49px;
            padding: 14px 40px 0 0;
        }

        .weather-measurements{
            color: #A1A6BE;
            margin: 11px 90px 10px 20px;
        }
            .block-measuring {
                padding-right: 68px;
            }
            .measuring, .rainfall{
                padding-bottom: 6px;
            }

        .grid-element2{
            display: -ms-grid;
            display: grid;
            -ms-grid-columns: 2fr 30px 1fr;
            grid-template-columns: 2fr 1fr;
            gap: 30px;
        }
.list-element2{
    margin-left: 17px;
}
.contact-elemen {
    padding-right: 20px;
}
.contact-element-first {
    margin-top: 23px;
    margin-left: 30px;
}
.contact-element-second {
    margin-top: 40px;
    margin-left: 30px;
}
.image-element2{
    margin-left: 20px;
    cursor: pointer;
}
.list-fio{
    margin-top: 23px;
}
.list-post{
    color: #A1A6BE;
}
.link-show{
    margin: 33px 0 19px 17px;
}
.show-more{
    font-weight: 600;
    color: #43E8FF;
}

.table-responsive {
    margin-left: 20px;
    display: block;
    width: 100%;
    padding-top: 10px;
}
table{
    width: 80%;
    border-collapse:collapse;
    border-spacing:0;
}
    td{
        border: 1px solid #151E41;
        padding: 10px;
        width: 30px;
        height: 25px;
    }
    .table-hidden{
        border-top: hidden;
        border-left: hidden;
        border-right: hidden;
    }
    .table-hidden-left{
        border-left: hidden;
    }
    .table-hidden-right{
        border-right: hidden;
    }
    .table-hidden-bottom{
        border-bottom: hidden;
    }
.diagramma-element2 {
    margin: -21px 46px 25px 0;
}
.grid-element3{
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(400px, 1fr) );
    gap: 30px;
}
select {
    border: none;
    position: relative;
    margin-top: 13px;
    padding: 10px;
    padding-left: 40px;
    background-color: #383E57;
    color: #43E8FF;
    font-weight: 500;
    margin-right: 30px;
  }
  .crop {
    margin: 20px 0 23px 20px;
  }
  .crop-title{
    font-weight: 700;
    padding-left: 20px;
    padding-bottom: 8px;
  }
  .linear{
    width: 14px;
    height: 14px;
    border-radius: 5px;
  }
  .linear1 {
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(67,233,255,1)), to(rgba(0,171,171,1)));
    background: -o-linear-gradient(top, rgb(67,233,255,1) 0%, rgba(0,171,171,1) 100%);
    background: linear-gradient(-180deg, rgb(67,233,255,1) 0%, rgba(0,171,171,1) 100%);
  }
  .linear2{
    background: -o-linear-gradient(302deg, rgba(182,26,255,1) 0%, rgba(0,26,255,1) 100%);
    background: linear-gradient(148deg, rgba(182,26,255,1) 0%, rgba(0,26,255,1) 100%);
  }
  .indent{
    margin-left: 18px;
  }
.image-element3 {
    margin: 1px 72px 12px 0;
}
.magnat{
    padding-left: 20px;
    margin-top: 19px;
}
.diagramma-element4 {
    margin-top: -90px;
  }
  .add-tex {
    margin: -35px 0 26px 19px;
  }
  .technik{
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .star-img{
    margin-top: 20px;
    margin-left: 15px;
  }

@media(max-width: 600px){
    .grid-element2{
        grid-template-columns: repeat( auto-fit, minmax(340px, 1fr) );
    }
   
}